# Python
*.pyc
*.pyo
__pycache__/
*/__pycache__/
.expo/


# Environnements virtuels
venv/
.env/
/core/.env/
/core/.env
# MacOS
.DS_Store

# Médias utilisateurs
# /media/

# Log files
*.log

# JetBrains IDE (PyCharm, IntelliJ, etc.)
.idea/
*.iml

# VSCode
.vscode/

# System files
Thumbs.db

.qodo